<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modifier la carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="card && formData.categories; else loading">
    <form (ngSubmit)="updateCard()">
      <ion-card class="card-container">
        <img [src]="card.image_url" alt="{{ card.name }}" class="card-image" />

        <ion-item class="form-item">
          <ion-label position="stacked">Modifier l'image</ion-label>
          <input
            type="file"
            (change)="onImageChange($event)"
            accept="image/*"
          />
        </ion-item>

        <ion-item class="form-item">
          <ion-label position="stacked">Nom</ion-label>
          <ion-input
            [(ngModel)]="card.name"
            name="name"
            placeholder="Nom de la carte"
            class="input-field"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-card-content>
          <ion-item class="form-item">
            <ion-label position="stacked">Catégorie</ion-label>
            <ion-select [(ngModel)]="card.category.id" name="category_id">
              <ion-select-option
                *ngFor="let category of formData.categories"
                [value]="category.id"
              >
                {{ category.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Série</ion-label>
            <ion-select [(ngModel)]="card.series.id" name="series_id">
              <ion-select-option
                *ngFor="let serie of formData.series"
                [value]="serie.id"
              >
                {{ serie.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Rareté</ion-label>
            <ion-select [(ngModel)]="card.rarity.id" name="rarity_id">
              <ion-select-option
                *ngFor="let rarity of formData.rarities"
                [value]="rarity.id"
              >
                {{ rarity.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea
              [(ngModel)]="card.description"
              name="description"
            ></ion-textarea>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">HP</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.health_points"
              name="health_points"
            ></ion-input>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">ATK</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.attack_points"
              name="attack_points"
            ></ion-input>
          </ion-item>

          <ion-item class="form-item">
            <ion-label position="stacked">DEF</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="card.defense_points"
              name="defense_points"
            ></ion-input>
          </ion-item>
        </ion-card-content>

        <ion-footer>
          <ion-button expand="full" type="submit" color="primary"
            >Modifier</ion-button
          >
        </ion-footer>
      </ion-card>
    </form>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
    <p>Chargement des informations...</p>
  </ng-template>
</ion-content>