/* Style pour la carte */
.card-item {
  margin-bottom: 20px; /* Espace entre les cartes */
}

.card {
  margin: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  position: relative; /* Pour positionner les éléments */
}

.card:hover {
  transform: scale(1.05); /* Effet de zoom au survol */
}

.card-image-container {
  position: relative;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
}

.card-rarity {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 152, 0, 0.8); /* Orange translucide */
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'élément */
  background-color: rgba(0, 0, 0, 0.6); /* Fond noir transparent */
  color: #fff;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
}

.card-category {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.7); /* Fond sombre transparent */
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
}

ion-card-content {
  padding: 15px;
  background-color: #f9f9f9;
}

.card-description {
  font-size: 14px;
  color: #666;
}

.card-series,
.card-date {
  font-size: 0.9em;
  color: #8c8c8c;
  margin-bottom: 5px;
}

.no-data {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #999;
}