<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Utilisateur</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div style="text-align: center; margin-bottom: 20px">
      <img
        [src]="profileImageUrl"
        alt="Photo de profil"
        style="
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        "
      />
    </div>

    <p style="text-align: center; font-weight: bold">{{ username }}</p>

    <ion-button expand="full" (click)="takeProfilePhoto()">
      Prendre une photo
    </ion-button>

    <ion-list>
      <ion-item routerLink="/accueil" routerDirection="root">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Accueil
      </ion-item>

      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        Liste
      </ion-item>

      <ion-item routerLink="/propos" routerDirection="root">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        À propos
      </ion-item>

      <ion-item button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Déconnexion
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienenue sur l'application</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="content-container">
  <div class="intro-section">
    <img
      src="assets/images/logoo.png"
      alt="Logo de l'application"
      class="app-logo"
    />
    <h2 class="main-title fade-in">
      Bienvenue sur mon application de gestion des cartes d'animés
    </h2>
    <p class="main-description fade-in">
      Organisez, gérez et découvrez vos cartes d'animés facilement avec une
      interface intuitive et moderne.
    </p>
  </div>

  <div class="features-section">
    <h3 class="section-title">Les fonctionnalités clés</h3>
    <div class="features-blocks">
      <div class="feature-block fade-up">
        <ion-icon name="add-circle-outline" class="feature-icon"></ion-icon>
        <h4>Ajouter une carte</h4>
      </div>
      <div class="feature-block fade-up">
        <ion-icon name="create-outline" class="feature-icon"></ion-icon>
        <h4>Modifier une carte</h4>
      </div>
      <div class="feature-block fade-up">
        <ion-icon name="trash-bin-outline" class="feature-icon"></ion-icon>
        <h4>Supprimer une carte</h4>
      </div>
      <div class="feature-block fade-up">
        <ion-icon name="search-outline" class="feature-icon"></ion-icon>
        <h4>Rechercher une carte</h4>
      </div>
    </div>
  </div>
</ion-content>

