<ion-header>
  <ion-toolbar>
    <ion-title>Créer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <div class="register-card">
      <ion-text class="register-title">
        <h1>Inscrivez-vous</h1>
        <p>Rejoignez-nous pour profiter de nos services</p>
      </ion-text>

      <form (ngSubmit)="onSubmit()">
        <ion-item class="input-item">
          <ion-label position="floating">Nom d'utilisateur</ion-label>
          <ion-input
            [(ngModel)]="username"
            name="username"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            name="email"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Confirmer le mot de passe</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          ></ion-input>
        </ion-item>

        <div
          *ngIf="
            password &&
            confirmPassword &&
            password !== confirmPassword
          "
          class="error-message"
        >
          <ion-text color="danger">
            Les mots de passe ne correspondent pas.
          </ion-text>
        </div>

        <ion-button
          expand="block"
          type="submit"
          [disabled]="
            !username ||
            !email ||
            !password ||
            !confirmPassword ||
            password !== confirmPassword
          "
          class="register-button"
        >
          Créer un compte
        </ion-button>
        <ion-text class="login-link">
          <p>
            Déja inscrit ?
            <a href="/login">Connectez-vous</a>
          </p>
        </ion-text>
      </form>
    </div>
  </div>
</ion-content>